/*定义基础类*/
@charset "UTF-8";
.zy-animation {
    /*执行所有动画名字*/
    animation: all;
    /*默认每个动画执行时间*/
    animation-duration: 1s;
    /*默认所有动画匀速执行*/
    animation-timing-function: linear;
    animation-fill-mode: both;
}

/*始终是否循环执行*/
.infinite {
    animation-iteration-count: infinite;
}

/*设置延迟执行时间*/
.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
}

.delay-3s {
    animation-delay: 3s;
}

.delay-4s {
    animation-delay: 4s;
}

.delay-5s {
    animation-delay: 5s;
}

/*设置动画执行时间长短*/
.fast {
    animation-duration: 800ms;
}

.faster {
    animation-duration: 500ms;
}

.slow {
    animation-duration: 3s;
}

.slower {
    animation-duration: 5s;
}

/*弹跳*/
@-webkit-keyframes ch-bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.ch-bounce {
    animation-name: ch-bounce;
    transform-origin: center bottom;
}

/*从内部弹*/
@keyframes ch-bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.ch-bounceIn {
    animation-name: ch-bounceIn;
}

/*从左侧弹*/
@keyframes ch-bounceLeft {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(-15px, 0, 0);
        transform: translate3d(-15px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
}

.ch-bounceLeft {
    animation-name: ch-bounceLeft;
}

/*从右侧弹*/
@keyframes ch-bounceRight {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(15px, 0, 0);
        transform: translate3d(15px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
}

.ch-bounceRight {
    animation-name: ch-bounceRight;
}

/*从上面弹*/
@keyframes ch-bounceTop {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0);
    }
}

.ch-bounceTop {
    animation-name: ch-bounceTop;
}

/*从下面弹*/
@keyframes ch-bounceBottom {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

.ch-bounceBottom {
    animation-name: ch-bounceBottom;
}

/*闪烁*/
@keyframes ch-flash {
    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.ch-flash {
    animation-name: ch-flash;
}

/*3频快闪*/
@keyframes ch-flasher {
    0%, 33%, 66%, 100% {
        opacity: 1;
    }
    16%, 48%, 82% {
        opacity: 0;
    }
}

.ch-flasher {
    animation-name: ch-flasher;
}

/*缩放*/

@keyframes ch-pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.ch-pulse {
    animation-name: ch-pulse;
}

/*拉伸*/
@keyframes ch-rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.ch-rubberBand {
    animation-name: ch-rubberBand;
}

/*抖动*/
@keyframes ch-shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.ch-shake {
    animation-name: ch-shake;
}

/*摇摆*/

@keyframes ch-swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.ch-swing {
    transform-origin: top center;
    animation-name: ch-swing;
}

/*渐放抖动*/
@keyframes ch-graduallyPut {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.ch-graduallyPut {
    animation-name: ch-graduallyPut;
}

/*摇晃*/
@keyframes ch-wobble {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.ch-wobble {
    -webkit-animation-name: ch-wobble;
    animation-name: ch-wobble;
}

/*左右拉伸*/
@keyframes ch-jello {
    from,
    11.1%,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
        transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
        transform: skewX(0.390625deg) skewY(0.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
        transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    }
}

.ch-jello {
    -webkit-animation-name: jello;
    animation-name: ch-jello;
    -webkit-transform-origin: center;
    transform-origin: center;
}

/*左侧闪现*/
@keyframes liinthou {
    from {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(-200%, 0);
    }
}

.liinthou {
    animation-name: liinthou;
    animation-duration: 50ms;
}

/*渐进左侧闪现*/
@keyframes ch-liinthou {
    from {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(-200%, 0);
    }
}

.ch-liinthou {
    animation-name: ch-liinthou;
}

/*开幕式*/
@keyframes inauguration {
    0% {
        transform: translate3d(0, 0, 0);
    }
    90% {
        transform: rotateX(90deg);
    }
}

.inauguration {
    animation-name: inauguration;
    transform-origin: top;
}

/*拉幕式*/
@keyframes ch-inauguration {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.ch-inauguration {
    animation-name: ch-inauguration;
    transform-origin: top;
}

/*放大缩小/缩小放大*/
@keyframes ch-heartBeat {
    from, 50%, to {
        transform: scale(1);
    }
    25%, 70% {
        transform: scale(1.1);
    }
    /*0% {*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
    /*}*/

    /*14% {*/
    /*-webkit-transform: scale(1.3);*/
    /*transform: scale(1.3);*/
    /*}*/

    /*28% {*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
    /*}*/

    /*42% {*/
    /*-webkit-transform: scale(1.3);*/
    /*transform: scale(1.3);*/
    /*}*/

    /*70% {*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
    /*}*/
}

.ch-heartBeat {
    animation-name: ch-heartBeat;

    /*-webkit-animation-name: heartBeat;*/
    /*animation-name: heartBeat;*/
    /*-webkit-animation-duration: 1.3s;*/
    /*animation-duration: 1.3s;*/
    /*-webkit-animation-timing-function: ease-in-out;*/
    /*animation-timing-function: ease-in-out;*/
}

/*淡入*/
@keyframes ch-fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.ch-fadeIn {
    animation-name: ch-fadeIn;
}

/*淡入向下*/
@keyframes ch-fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInDown {
    animation-name: ch-fadeInDown;
}

/*淡入向下Gig*/
@keyframes ch-fadeInDownBig {
    from {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInDownBig {
    animation-name: ch-fadeInDownBig;
}

/*淡入向左*/
@keyframes ch-fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInLeft {
    animation-name: ch-fadeInLeft;
}

/*向左淡入Big*/
@keyframes ch-fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInLeftBig {
    animation-name: ch-fadeInLeftBig;
}

/*淡入向右*/
@keyframes ch-fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInRight {
    animation-name: ch-fadeInRight;
}

/*淡入向右Big*/
@keyframes ch-fadeInRightBig {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInRightBig {
    animation-name: ch-fadeInRightBig;
}

/*淡入向上*/
@keyframes ch-fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInUp {
    animation-name: ch-fadeInUp;
}

/*淡入向下Gig*/
@keyframes ch-fadeInUpBig {
    from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ch-fadeInUpBig {
    animation-name: ch-fadeInUpBig;
}

/*外部弹出*/
@keyframes ch-bounceOut {
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    50%,
    55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    90% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

.ch-bounceOut {
    animation-name: ch-bounceOut;
}

/*向下弹*/
@keyframes ch-bounceDown {
    20% {
        transform: translate3d(0, 10px, 0);
    }

    45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    90% {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.ch-bounceDown {
    animation-name: ch-bounceDown;
}

/*向上弹*/
@keyframes ch-bounceUp {
    20% {
        transform: translate3d(0, -10px, 0);
    }

    45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }
    90% {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.ch-bounceUp {
    animation-name: ch-bounceUp;
}

/*向左弹*/
@keyframes bounceLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }
    90% {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
    }
}

.bounceLeft {
    animation-name: bounceLeft;
}

/*向右弹*/
@keyframes bounceRight {
    20% {
        opacity: 1;
        transform: translate3d(-20px, 0, 0);
    }
    90% {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.bounceRight {
    animation-name: bounceRight;
}

/*淡出*/
@keyframes ch-fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.ch-fadeOut {
    animation-name: ch-fadeOut;
}

/*向下淡出*/
@keyframes ch-fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.ch-fadeOutDown {
    animation-name: ch-fadeOutDown;
}

/*向上淡出*/
@keyframes ch-fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.ch-fadeOutUp {
    animation-name: ch-fadeOutUp;
}

/*快速向下淡出*/
@keyframes ch-fadeOutDownBig {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
}

.ch-fadeOutDownBig {
    animation-name: ch-fadeOutDownBig;
}

/*快速向上淡出*/
@keyframes ch-fadeOutUpBig {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

.ch-fadeOutUpBig {
    animation-name: ch-fadeOutUpBig;
}

/*向左淡出*/
@keyframes ch-fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

.ch-fadeOutLeft {
    -webkit-animation-name: ch-fadeOutLeft;
    animation-name: ch-fadeOutLeft;
}
/*向左淡出*/
@keyframes ch-fadeOutLeftBig {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

.ch-fadeOutLeftBig {
    -webkit-animation-name: ch-fadeOutLeftBig;
    animation-name: ch-fadeOutLeftBig;
}

/*向右淡出*/
@keyframes ch-fadeOutRight {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

.ch-fadeOutRight {
    -webkit-animation-name: ch-fadeOutRight;
    animation-name: ch-fadeOutRight;
}
/*向右淡出*/
@keyframes ch-fadeOutRightBig {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

.ch-fadeOutRightBig {
    -webkit-animation-name: ch-fadeOutRightBig;
    animation-name: ch-fadeOutRightBig;
}
/*旋转变大*/
@keyframes ch-flip {
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

.ch-flip {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: ch-flip;
    animation-name: ch-flip;
}

/*绕着X轴旋转*/
@keyframes ch-flipX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.ch-flipX{
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: ch-flipX;
    animation-name: ch-flipX;
}

/*绕着Y轴旋转*/
@keyframes ch-flipY {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
.ch-flipY{
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: ch-flipY;
    animation-name: ch-flipY;
}
 /*绕X轴旋转消失*/
@keyframes ch-flipOutX {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}
.ch-flipOutX{
    backface-visibility:visible;
    -webkit-animation-name: ch-flipOutX;
    animation-name: ch-flipOutX;
}

/*绕Y轴旋转消失*/
@keyframes ch-flipOutY {
    from {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d( 0,1, 0, -20deg);
        opacity: 1;
    }

    to {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}
.ch-flipOutY{
    backface-visibility:visible;
    -webkit-animation-name: ch-flipOutY;
    animation-name: ch-flipOutY;
}